/* #region COMMON RULES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--z-primary);
    color: var(--z-colorfont);
}
/* #endregion COMMON RULES */

/* #region COLOR PALETTE */
:root {
    --z-primary: #000000;
    --z-footer: #222222;
    --z-colorfont: #ffffff;
    --z-share: #4bc800;
    --z-endcall: #f10f23;
    --z-bgspan: #8080808f;
}

/* #endregion COLOR PALETTE */

/* #region UTILITIES */
.d-flex {
    display: flex;
}

.container {
    width: 80%;
    max-width: 1140px;
    margin: auto;
}

img {
    width: 100%;
}

.col {
    width: calc(100% / 7 - 0.25rem);
}

.row {
    flex-wrap: wrap;
}
.user-video {
    position: relative;
    margin: 0.4rem 0.3rem;
}

.info-user {
    font-size: 0.85rem;
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: var(--z-bgspan);
    padding: 0.3rem;
}

.overflow {
    overflow: scroll;
    height: 70vh;
}

.container::-webkit-scrollbar {
    display: none;
}

/* #endregion UTILITIES */


/* #region HEADER */
nav {
    justify-content: flex-end;
    margin-bottom: 3rem;
    z-index: 1;
    position: sticky;
    top: 0;
    right: 0;
}

nav > * {
    background-color: var(--z-bgspan);
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
}
/* #endregion HEADER */


/* #region FOOTER */
#app-footer {
   z-index: 1;
   background-color: var(--z-footer);
   position: absolute;
   bottom: 0;
   left: 0;   font-size: 0.8rem;
   justify-content: space-between;
    width: 100%;
}

.icon > i {
    font-size: 1.5rem;
    padding: 0.4rem;
}

.icon {
    text-align: center;
    padding: 0.7rem;
}

.arrow-up {
    align-items: center;
}

#share-screen {
    color: var(--z-share);
}

.menu-right {
    color: red;
    align-items: center;
    justify-content: center;
    background-color: var(--z-bgspan);
    padding: 1rem;
}
/* #endregion FOOTER */